{% extends 'base.html' %}

{% load static %}

{% block title %}
	Apa Kabar?
{% endblock title %}

<style type="text/css">
	body {
		font-family:'Inconsolata';
		font-size: 36px;
	}
</style>

{% block content %}
	<div style="padding-left: 2vw;">
		<h1 style="font-size: 50px; text-align: center; margin-top: 2%;">Halo, apa kabar?</h1>
		<form action="{% url 'kabar:index' %}" method="POST">
			{% csrf_token %}
			<div style="text-align: left;">{{forms.status.label_tag}}</div>
			<div style="width: 20px; margin-bottom: 10px;">{{forms.status}}</div>
		</form>
		{% for status in list_status %}
			<div style="width: 94vw; padding:5px; margin-bottom: 10px; background-color: #c4c4c4; border-radius: 10px">
				<div>
					<p style="padding: 0;">
						{{status.status}}
					</p>
				</div>
				<div>
					{{status.time}}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock content %}