<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>
			{% block title %}
			{% endblock title %}
		</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous`">
		<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap" rel="stylesheet">
		{% block style %}
		{% endblock %}
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
		crossorigin="anonymous"></script>
		<script type="text/javascript" src="{% static 'base.js' %}"></script>
		{% block script %}
		{% endblock%}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href='/'>Kho[]</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		      		<li class="nav-item active">
		        		<a class="nav-link" href="/profil-accordion/"> Profil <span class="sr-only">(current)</span></a>
		      		</li>
		      		<li class="nav-item active">
		        		<a class="nav-link" href="/caribuku/"> Cari Buku <span class="sr-only">(current)</span></a>
		      		</li>
					{% if user.is_authenticated %} 
		      		<li class="nav-item active">
		        		<a class="nav-link" href="/acc/logout/"> Logout <span class="sr-only">(current)</span></a>
		      		</li>
			    	</ul>
			    	<div style="text-transform: capitalize; font-size: 20px;">
						{{user.get_username}} 
			    	</div>
					{% else %}
		      		<li class="nav-item active">
		        		<a class="nav-link" href="/accounts/login/"> Login <span class="sr-only">(current)</span></a>
		      		</li>
			    	</ul>
					{% endif %}

		  	</div>
		</nav>
		{% block content %}
			<h1>Hello World!</h1>
		{% endblock content %}
	</body>
</html>