{% extends 'base.html' %}

{% load static %}

{% block title %}
	Login
{% endblock title %}

{% block content %}
	<div class="win-sm">
		<h1>Login</h1>
	</div>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Login</button>
	</form>
{% endblock content %}
