body.theme {
	background-color: black; 
	color: white;
}

body {
	font-family: 'Inconsolata'; 
	background-color: white;
	color: black;
	text-align: center;
}

.organisasi {
	color: #007bff;
}

.kepanitiaan {
	color: #ff3030;
}

.accordion-head {
	cursor: pointer;
}

.content {
	padding-left: 0.5em;
	display: none;
}

.content h3 {
	font-size: 1em;	
}

h1, h3, p {
	margin-top:0px; 
	margin-bottom:0px; 
	padding-top:0.5em;
}

.container {
	padding: 0px;
	margin: 0px;
}

.isi {
	min-height: 101vh;
	background-color: rgba(196,196,196,0.5);
}

.brand {
	font-size: 1.5em;
}