{% extends 'base.html' %}

{% load static %}

{% block title %}
	Profil Accordion
{% endblock title %}

{% block style %}
	<link href="{% static 'profil-accordion.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static 'accordion.js' %}"></script>
	<script type="text/javascript" src="{% static 'change_theme.js' %}"></script>
{% endblock%}

{% block content %}
	<div class="row">
		<div class="col-3"></div>
		<div class="col-6 isi align-text-center">
			<div class="row">
				<div class="col-6 brand">Kho[]</div>
				<div class="col-6 brand">
					<a href="#" id="change-theme">Change to Dark</a>
				</div>
			</div>
			<div>
				<h1>Profil Tambahan</h1>
			</div>
			<div class="accordion-head">
				<h3>Aktivitas</h3>
			</div>
			<div class="accordion-text content">
				<p>Kuliah</p>
			</div>
			<div class="accordion-head">
				<h3>Pengalaman <span class="organisasi">Organisasi</span>/<span class="kepanitiaan">Kepanitiaan</span></h3>
			</div>
			<div class="accordion-text content">
				<div class="accordion-head">
					<h3 class="kepanitiaan">PJ Konsumsi SIWAK-NG 2019</h3>
				</div>
				<div class="accordion-text content">
					<p>Mengurusi konsumsi selama acara berlangsung</p>
				</div>
				<div class="accordion-head">
					<h3 class="kepanitiaan">Staf Danus PMB 2019</h3>
				</div>
				<div class="accordion-text content">
					<p>Mengurusi pemesanan Jaket Panda</p>
				</div>
				<div class="accordion-head">
					<h3 class="organisasi">Staf Sosmas Fuki 2019</h3>
				</div>
				<div class="accordion-text content">
					<p>Mengurusi bagian bakti sosial tahunan dan menjadi walas am/fm (acara magang)</p>
				</div>
				<div class="accordion-head">
					<h3 class="kepanitiaan">Staf Project BKUI'19</h3>
				</div>
				<div class="accordion-text content">
					<p>Melakukan usaha untuk mendapatkan pemasukan dana (garage sale, po baju, penjualan merchandise)</p>
				</div>
				<div class="accordion-head">
					<h3 class="kepanitiaan">Staf LO Wisgen 2019</h3>
				</div>
				<div class="accordion-text content">
					<p>menjadi jembatan antara panitia acara dengan peserta (wisudawan)</p>
				</div>
			</div>
			<div class="accordion-head">
				<h3>Prestasi</h3>
			</div>
			<div class="accordion-text content">
				<p> N/A</p>
			</div>
		</div>		
		<div class="col-3"></div>
	</div>
{% endblock content %}
