{% extends 'base.html' %}

{% load static %}

{% block title %}
	Cari Buku
{% endblock title %}

{% block script %}
	<script type="text/javascript" src="{% static 'caribuku.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="win-sm">
		<h1>Cari Buku</h1>
	</div>
	<div>
		<input id="input-buku" type="text" placeholder="Judul Buku / Author" class="form-control">
		<button id="button-cari" type="submit" class="btn btn-outline-primary">Cari</button>
	</div>
	<div>
		<table class="table">
			<thead>
			<tr>
				<th scope="col">Gambar</th>
				<th scope="col">Judul Buku</th>
				<th scope="col">Penulis</th>
				<th scope="col">Penerbit</th>
			</tr>
			</thead>
		<tbody>
		</tbody>
		</table>
	</div>
{% endblock content %}
